.container {
    width: 100vw;
    height: 90vh;
    border-radius: 10px;
    background: linear-gradient(135deg, #307bdd, #a33df7);
    color: white;
}

#menu-bar {
    display: flex;
}

header {
    height: 10vh;
    position: fixed;
}